@media only screen and (max-width: 1575px) {
    .second_item {
        height: 1380px;
    }
    .second_item .text h1 {
        font-size: 48px;
    }
    .second_item .text p {
        max-width: 560px;
        margin-right: 17px;
        font-size: 20px;
    }
    .third_block .cards {
        grid-gap: 36px;
    }
    .third_block {
        padding: 15px;
    }
    .second_item .item .right-side {
        margin-left: -40px;
    }
}

@media only screen and (max-width: 1200px) {
    .second_item {
        height: 1260px;
    }
    .third_block .title {
        font-size: 36px;
    }
}
@media only screen and (max-width: 900px) {
    .second_item {
        height: 870px;
    }
}
@media only screen and (max-width: 818px) {
    .second_item .text p {
        max-width: 289px;
        margin-right: 17px;
        font-size: 12px;
    }
    .item .left-side img,
    .item .right-side img {
        width: 50%;
        height: 50%;
    }
    .second_item .item h1 {
        font-size: 32px;
    }
    .second_item .item .right-side {
        margin-left: -170px;
    }
    .second_item {
        height: 610px;
    }
    .third_block h1 {
        font-weight: 700;
        font-size: 36px;
    }
    .third_block .title {
        margin-bottom: 10px;
    }
    .third_block button {
        width: 230px;
        height: 58px;
        font-weight: 600;
        margin-top: 14px;
        font-size: 22px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 700px) {
    .item .left-side img,
    .item .right-side img {
        width: 40%;
        height: 40%;
    }
    .second_item .item .right-side {
        margin-left: -324px;
    }
    .second_item .item:nth-child(2) {
        margin-top: -60px;
    }
    .second_item {
        height: 510px;
    }
}
@media only screen and (max-width: 600px) {
    .second_item .item .right-side {
        margin-left: -216px;
    }
    .second_item .text p {
        margin-right: 17px;
        font-size: 10px;
        max-width: 189px;
        overflow: hidden;
        max-height: 85px;
    }
    .second_item .text h1 {
        margin-right: 17px;
        font-size: 20px;
    }
    .second_item .item:nth-child(2) {
        margin-top: -30px;
    }
    .second_item {
        height: 330px;
    }
    .third_block .cards {
        grid-gap: 16px !important;
    }
    .third_block .title {
        margin-bottom: 15px;
        margin-top: 19px;
    }
    .third_block h1 {
        font-weight: 700;
        font-size: 24px;
    }
    .third_block button {
        font-size: 10px;
        width: 120px;
        height: 26px;
        margin-top: 10px;
        background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
        border-radius: 5px;
    }
}
